@mixin weekdays {
  background-color: $default-color-background-week;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  text-align: center;
  padding: 0 $padding;
}

$padding: 0.5rem;
$border-radius: 1rem;

.datepicker {
  background-color: $default-color-background-main;
  border-radius: $border-radius;
  font-family: sans-serif;
  min-width: 225px;
  max-width: 325px;

  &__year-section {
    display: flex;
    justify-content: center;
    padding-top: $padding + $padding;

    select {
      border: none;
      border-radius: 0.5rem;
      font-size: 0.9rem;
      font-weight: bold;
      padding: 0.5rem 1rem;
    }
  }

  &__month-section {
    color: $default-color-background-week;
    display: grid;
    grid-template-columns: 0.3fr 1fr 0.3fr;
    font-size: 1.2rem;
    font-weight: bold;
    padding: $padding;
    text-align: center;

    button {
      background: none;
      border: none;
      color: $default-color-background-week;
      cursor: pointer;
      font-weight: bold;
      outline: none;
    }
  }

  &__weekday-section {
    @include weekdays;

    border-radius: 0 0 $border-radius $border-radius;
    grid-template-rows: repeat(6, 1fr);

    &__day {
      border-radius: 0.3rem;
      cursor: pointer;
      font-size: 0.8rem;
      padding: 0.4rem;
      transition: 0.1s;

      &:hover {
        border-radius: 1em;

        background: rgb(226, 226, 226);
        transition: 0.3s;
      }
    }
  }

  &__weekday-name-section {
    @include weekdays;

    font-weight: bold;
    font-size: 0.8rem;

    padding: 0 $padding;
  }
}
