.datepicker {
  font-family: sans-serif;
  max-width: 400px;

  &__weekday-section {
    background-color: lightblue;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(6, 1fr);
    text-align: center;
  }

  &__weekday-name-section {
    background-color: lightblue;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    text-align: center;
  }
}
